body{
    margin:0em;
    padding:0em;
    font-family: sans-serif;
    
}
nav{
    background-color:rgba(16, 16, 16, 0.89);
    color:gray;
    height: 3.125em;
}
.navigation{
    display: inline-block;
}
.navigation ul li{ 
   display: inline;
   padding:0.1875em 0.9375em 0.9375em 0.1875em;
   font-size: 1.0625em;
}
.select{
    background-color: rgba(16, 16, 16, 0.03);
    color:gray;
    font-size: 1.0625em;
    border:0em;
}
.option{
    color:gray;
    background-color:white;
    font-size: 1.0625em;
}
li a:visited ,a:active,a:link {
    color:#9d9d9d;
}
li a:hover{
    color:white;
}
a{text-decoration: none;}
.nav-right{
    float: right;
    margin-top:0em;
    margin-left:12.5em;
     display: inline-block;
}
.input{
    padding:0.5em;
    border:0em;
    margin-bottom : 2em;
    border-radius:0.3125em;
    padding-bottom: 0.8em;
    padding-right:1em;
    padding-left:1em;

    
}
.input-button{

    background-color:white;
    color:gray;
    border-radius: 0.375em;
    padding-left: 1.55em;
    padding-right:1.55em;
    padding-top:0.5em;
    padding-bottom:0.65em;

}
.ul-inline{
            margin-top:0.4em;
            padding-bottom:0em;
}
li .nav-li{
    display: inline-block;

    text-align: center;
    padding-top:0.5em;
}
/*navigation bar completed*/
.left-area-1 ul{
   
      height:15.625em;
      width: 13.625em;
      display: inline-block;
      float:left;
      border-bottom-left-radius: 0.25em;
      border-bottom-right-radius: 0.25em;
      
      
      

}
 .left-area-1 .left-area-ul li{
    list-style-type: none;
    border:0.0625em solid lightgray ;
    padding: 0.8em 1.5625em 0.8em 1.25em;
    color:#333;;
    font-size:14;
    border-top:0em solid ;
    font-size:0.875em
    
}
.gray-list-item{
    background-color: #f5f5f5;
    color:black !important;
    border-top:0.0625em solid lightgray !important;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    border: 0.0625em solid lightgray;
    font-size:1em !important;
    
}
.left-area-1 ul{
    padding-left:1.875em;
    display:inline-block;
}
/*left area-1 completed*/
.central-area-1{
 
    width:30em;
    height:19.3em;
    display:inline-block;
    float: left;
}
.green-bar{
    padding:0.9375em 0.8125em 0em 0.9375em;
    margin:1em 0.125em 0.125em 1.95em;
    background-color:#dff0d8;
    border:0.0625em solid #d6e9c6;

    border-radius:0.25em;
    height: 2.1875em;
    weight: 21.0625em;
    color:#3c763d;
    font-size: 0.875em;
}
.x{
    color:#196319;
    font-weight: bold;
    display: inline-block;
    margin-left:2.5em;
    
}
.x a:visited, .x a:link{
    color:green;
}

.para-1{
    font-size:0.85em;
   padding:0.125em 0em 0.0625em 2em;
   line-height: 1.5em;
}
.para-1 h1{font-weight: 200;
           padding-top:1em;
 
}
.para-button{
    margin: 0.5em 0.3125em 0em 2.125em;
    padding:   0.4375em 0.4375em 0.4375em 0.4375em;
    background-color:white;
    color:gray;
    border-radius: 0.375em;
   
}
.but-link{
    margin-left:0.2em;
    margin-top:0.07em;
    
}
.but-link .comment-share a{
    color:#337ab7;
    }
.but-link .comment-share li,.but-link .comment-share{
    display: inline;
    padding-right:1em;
}
.comment-share {
     height: 1.3em !important;
     width:26.9em !important;
     margin-left:0em;
}
.but-link .comment-share .tag{
 
    margin:0.0625em ;
    color:white;
    padding:0.125em 0.25em;
    background-color:gray;
    border:0em;
     border-radius: 0.25em;
    border:0.0625em solid gray;
    font-size: 0.75em;
}
hr{width:25em;
}
/*central area-1 completed*/
.login-box{
    display: inline-block;

    width:13.45em;
    height: 13em;
    margin-top: 1em;
    margin-left: 1.5em;
    border:1px solid #d0cdcd;
    border-top-left-radius: 0.29em;
    border-top-right-radius: 0.25em;

}
.login{
    background-color: #f5f5f5;
    display: inline-block;
    width: 10.9375em;
    height: 1.125em;
    padding:0.625em 1.25em 0.625em 1.25em;
    margin-top:0em;
    border-top-right-radius: 0.25em;
    border-top-left-radius: 0.25em;
    border-color:#ddd;
    border-bottom:0.0625px solid #d0cdcd;
    
}
form .input-2{
    padding:0.6em 0.275em;
    margin:0.7em;
    border-radius:0.25em;
}
form{
    margin:1em;
}
.ligin-button{
    padding:   0.4375em 1em 0.4375em 1em;
    background-color:white;
    color:#423c3c;
    border-radius: 0.375em;
    margin-left:0.8em;
}
/*right area completed*/
.sec-right{display: inline-block;
            width:13.7em;
            height: 20em;
            margin-right:9em;
            margin-left:1.8em;
            position: initial;
            margin-top:-2em;
            border-radius: 0.25em;
}
.dramatically{
    width:13.7em;
    height:1.8em;
    background-color: gray;
    text-align: center;
    padding-top:0.8em;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    background-color: #f5f5f5;
    
    border: 0.0625em solid lightgray;
}
.div-para{
     width:13.69em;
    padding:1em;
    line-height: 1.5em;
    margin-top:0em;
    border: 0.0625em solid lightgray;
    height: 18em;
    border-top: 0em solid ;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    color:#333;
    font-size:0.875em
}
.third-button{
    margin:0.8em 1em 1em -0.6em;
}
/*second left area completed*/
.central-area-2{
    margin-left:-9em;
    width:30em;
    height:19.3em;
    display:inline-block;
    background-color:lightblue;
}
.para-2{
    font-size:0.85em;
   padding:0em 0em 0em 2em;
   line-height: 1.5em;
}
.para-2 h1{font-weight: 200;
   
}
.para-button-2{
    margin: 0.5em 0.3125em 0em 2.125em;
    padding:   0.4375em 0.4375em 0.4375em 0.4375em;
    background-color:white;
    color:gray;
    border-radius: 0.375em;
   
}
.but-link-2{
    margin-left:0.2em;
    margin-top:0.07em;
    
}
.but-link-2 .comment-share-2 a{
    color:#337ab7;
    }
.but-link-2 .comment-share-2 li,.but-link-2 .comment-share-2{
    display: inline;
    padding-right:1em;
}
.comment-share-2 {
     height: 1.3em !important;
     width:26.9em !important;
     margin-left:0em;
}
.but-link-2 .comment-share-2 .tag-2{
 
    margin:0.0625em ;
    color:white;
    padding:0.125em 0.25em;
    background-color:gray;
    border:0em;
     border-radius: 0.25em;
    border:0.0625em solid gray;
    font-size: 0.75em;
}
hr{width:25em;
}
